<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar</title>
</head>
<body>

    <form action="/contact/" method="POST">{% csrf_token %}

       <p>Subject:  <input type="text" name="subject"></p>

       <p>Mail:  <input type="text" name="mail"></p>

       <p>Message:  <textarea name="subject" rows="10" cols="40"></textarea>></p>
        
        <input type="submit" value="Send">

    </form>
    
</body>
</html>